body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  padding: 0 10px;
  margin-top: 90px;
  color: rgb(87, 102, 114);
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

.error {
  color: red;
}

.toggle-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.books {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem 0.5rem;
  padding-inline-start: 0px;

  li {
    display: flex;
    flex-flow: column;
    padding: 0px;
    background-color: rgb(173, 184, 198);
    background-image: linear-gradient(rgb(87, 102, 114), rgb(173, 184, 198));

    figure {
      flex: 1;
      height: 0;
    }

    p {
      margin: 0px;
      color: white;
    }

    img {
      width: 100%;
      max-width: 300px;
      margin: auto;
      display: block;
      background-color: #f8f8f8;
    }
  }
}

.list-table {
  width: 100%;
  border: solid 1px rgb(87, 102, 114);
  border-collapse: collapse;
  margin-top: 10px;

  .details-cell {
    text-align: center;
  }

  .title-row {
    font-weight: bold;
    background-color: rgb(87, 102, 114) !important;
    color: white !important;
  }

  td {
    padding: 5px;
    border: solid 1px rgb(87, 102, 114);
  }

  tr:nth-child(odd) {
    background-color: white;
  }
}

.viewbutton {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px rgb(87, 102, 114);
  padding: 10px;
  margin-right: 10px;
}

.viewbutton:hover {
  background-color: rgb(173, 184, 198);
  color: white;
  border: solid 1px rgb(87, 102, 114);
}

.viewbutton:active {
  color: rgb(87, 102, 114);
  background-color: white;
  border: solid 1px rgb(87, 102, 114);
}

.card {
  position: relative;
  max-width: 300px;
  margin: 0 auto;
}

.ribbon {
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: 100px;
  height: 100px;
  text-align: right;
}

.ribbon span {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  line-height: 25px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 115px;
  display: block;
  background: white;
  box-shadow: 0 0 5px 1px rgb(170, 170, 170);
  position: absolute;
  top: 20px;
  right: -25px;
}
.available {
  color: rgb(17, 174, 17) !important;
}

.unavailable {
  color: rgb(216, 26, 26) !important;
}

.booktitle {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 10px 5px 5px 5px;
}

.bookauthor {
  font-size: small;
  text-align: center;
}

.detailbutton {
  color: rgb(87, 102, 114);
  background-color: white;
  padding: 5px;
  text-transform: uppercase;
  border: solid 1px rgb(87, 102, 114);
  border-radius: 25px;
  margin: 10px;
}

.detailbutton:hover {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px white;
}

.detailbutton:active {
  color: rgb(87, 102, 114);
  background-color: #f1f1f1;
  border: solid 1px rgb(87, 102, 114);
}

.listdetailbutton {
  color: rgb(87, 102, 114);
  background-color: white;
  padding: 5px;
  text-transform: uppercase;
  border: solid 1px rgb(87, 102, 114);
}

.listdetailbutton:hover {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px white;
}

.listdetailbutton:active {
  color: rgb(87, 102, 114);
  background-color: #f1f1f1;
  border: solid 1px rgb(87, 102, 114);
}

.bookcontainer {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 5px;
  background-color: rgb(173, 184, 198);
}

.bookdetails {
  padding: 15px;
  background-color: white;
  color: rgb(87, 102, 114);
  h3 {
    padding: 5px 0;
    margin: 0px;
    font-style: italic;
  }
  h5 {
    margin: 0px;
  }
  img {
    width: 200px;
    border: 1px rgb(87, 102, 114) solid;
    padding: 10px;
    background-color: rgb(173, 184, 198);
  }
}

.returnbutton {
  width: 50%;
  text-align: center;
  margin: 0 auto 5px auto;
  color: rgb(87, 102, 114);
  background-color: white;
  padding: 5px;
  text-transform: uppercase;
  border: solid 1px rgb(87, 102, 114);
  border-radius: 25px;
}

.returnbutton:hover {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px white;
}

.returnbutton:active {
  color: rgb(87, 102, 114);
  background-color: #f1f1f1;
  border: solid 1px rgb(87, 102, 114);
}

.navbar {
  align-items: center;
  height: 75px;
  padding-left: 10px;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 0.05em;
  z-index: 2;

  ul {
    margin: 0;
    padding-inline-start: 20px;
  }

  li {
    margin: 0;
    list-style-type: none;
    display: inline-block;
  }

  a {
    padding: 0 10px;
    text-decoration: none;
    color: rgb(87, 102, 114);
    display: block;
    line-height: 75px;
  }
  a:hover {
    background-color: rgb(87, 102, 114);
    color: white;
    border-bottom: 5px solid rgb(173, 184, 198);
  }

  .active {
    background-color: #f1f1f1;
  }
}

h2 {
  color: rgb(87, 102, 114);
}

.searchbar {
  color: rgb(87, 102, 114);
}

.inputfield {
  color: rgb(87, 102, 114);
  border: solid 1px rgb(87, 102, 114);
  padding: 5px;
  margin: 3px;
}

.inputfield:focus {
  border: solid 1px rgb(87, 102, 114);
  outline: none;
  background-color: rgb(222, 231, 242);
}

.passwordinfo {
  color: rgb(87, 102, 114);
  font-size: small;
  font-style: italic;
  margin: 0 0 10px 5px;
}

.submitbutton {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 25px;
  width: 100px;
}

.submitbutton:active {
  color: rgb(87, 102, 114);
  background-color: white;
  border: solid 1px rgb(87, 102, 114);
  padding: 10px;
  border-radius: 25px;
}

.checkoutbutton {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px rgb(87, 102, 114);
  padding: 10px;
}

.checkoutbutton:hover {
  background-color: rgb(173, 184, 198);
  color: white;
  border: solid 1px rgb(87, 102, 114);
}

.checkoutbutton:active {
  color: rgb(87, 102, 114);
  background-color: white;
  border: solid 1px rgb(87, 102, 114);
}

.registertable {
  width: 80%;
}

.account-table {
  width: 100%;
  border-spacing: 5px;
  border: solid 1px rgb(87, 102, 114);
  background-color: rgb(173, 184, 198);
  td {
    width: 50%;
    vertical-align: top;
    padding: 5px 10px;
  }
}

.account-header {
  background-color: rgb(87, 102, 114);
  color: white;
}

.account-details {
  background-color: white;
}

.reservedbooks {
  margin: 5px;
  padding-inline-start: 0px;

  li {
    list-style-type: none;
  }

  li:nth-child(odd) {
    padding: 5px;
    margin-bottom: 5px;
  }

  li:nth-child(even) {
    margin-bottom: 20px;
  }
}

.reservationbutton {
  background-color: rgb(87, 102, 114);
  color: white;
  border: solid 1px rgb(87, 102, 114);
  padding: 5px;
}

.reservationbutton:hover {
  background-color: rgb(173, 184, 198);
  color: white;
  border: solid 1px rgb(87, 102, 114);
}

.reservationbutton:active {
  color: rgb(87, 102, 114);
  background-color: white;
  border: solid 1px rgb(87, 102, 114);
}